:root {
    --color-white: #fff;
    --color-base: #22252B;
    --color-active: #313740;
    --color-background: #F4F7F6;
    --color-red: #F44336;
    --color-pink: #E91E63;
    --color-purple: #9C27B0;
    --color-deep-purple: #673AB7;
    --color-indigo: #3F51B5;
    --color-blue: #2196F3;
    --color-light-blue: #03A9F4;
    --color-cyan: #00BCD4;
    --color-teal: #009688;
    --color-green: #4CAF50;
    --color-light-green: #8BC34A;
    --color-lime: #CDDC39;
    --color-amber: #FFC107;
    --color-orange: #FF9800;
    --color-deep-orange: #FF5722;
    --color-brown: #795548;
    --color-grey: #9E9E9E;
    --color-blue-grey: #607D8B;
}

main {
    width: 80%;
}

main .table-section {
    padding-top: 2rem;
    width: 98%;
}

table tbody {
    overflow-y: scroll;
}

table tbody tr th {
    font-size: 13px;
}

table thead tr th {
    font-size: 15px;
}

.table-section .search-rec {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}

.table-section .search-rec .form-select {
    padding: 6px;
    margin-right: 5px;
    color: white;
    background: var(--color-active);
}

.table-section .search-rec button {
    margin-left: 5px;
    background: var(--color-blue);
    color: white;
}

.table-section .search-rec .form-control {
    width: 30rem;
}


/* main */